*.log
*.bin
*.gwt-log
.DS_Store
.DS_Store?
._*
*.jar
*.gwt.rpc
*.cache.html
ParkMe/war/WEB-INF/deploy/parkme/rpcPolicyManifest/manifests/*.txt

.Spotlight-V100
.Trashes

Icon?
ehthumbs.db

Thumbs.db
/.gwt
/gwt-unitCache
war/WEB-INF/appengine-generated/*
ParkMe/.gwt/.gwt-log

*.class

ParkMe/war/WEB-INF/appengine-generated/*

ParkMe/war/WEB-INF/appengine-web.xml

ParkMe/war/WEB-INF/deploy/parkme/rpcPolicyManifest/manifest.txt

ParkMe/war/WEB-INF/lib/appengine-api-labs.jar

ParkMe/war/WEB-INF/lib/appengine-endpoints.jar

ParkMe/war/parkme/parkme.nocache.js

*.class

ParkMe/war/.gitignore

ParkMe/war/WEB-INF/classes/ca/ubc/cpsc310/parkme/.gitignore

ParkMe/war/WEB-INF/.gitignore

*.symbolMap

ParkMe/.gwt/.gwt-log

ParkMe/.classpath
ParkMe/.settings/*

