/appengine-api-1.0-sdk-1.7.2.1.jar
/appengine-api-labs.jar
/appengine-endpoints.jar
/appengine-jsr107cache-1.7.2.1.jar
/appengine-jsr107cache.jar
/datanucleus-api-jdo-3.1.0-m3.jar
/datanucleus-api-jpa-3.1.0-m3.jar
/appengine-api-1.0-sdk-1.7.2.1.jar
