/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
body {
	overflow: hidden;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.resultListHeader {
	background-color: #000000;
	color: white;
	font-style: bold;
}

.parking1 {
	background-color: #66CD00;
}

.parking2 {
	background-color: #9BD500;
}

.parking3 {
	background-color: #B7D900;
}

.parking4 {
	background-color: #E0CF00;
}

.parking5 {
	background-color: #E8A100;
}

.parking6 {
	background-color: #EC8800;
}

.parking7 {
	background-color: #F35400;
}

.parking8 {
	background-color: #FB1D00;
}

.parking9 {
	background-color: #FF0000;
}

.street {
	font-style: bold;
}

.loading {
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 200%;
	font-style: bold;
	-moz-border-radius: 15px;
	border-radius: 15px;
	z-index: 10;
}

.main {
	
}

.tab {
	
}
#header {
	height: 30px;
	width: 100%;
	background-color: #000000;
	position: fixed;
	top:0px;
	left:0px;
	color: #ffffff;
	
}
#text {
	padding: 6px;
	padding-left: 10px;
}
#righttext {
	padding: 6px;
	padding-right: 10px;
	text-align: right;
	position: fixed;
	right: 0px;
}

#righttext a:link {
	color: #ffffff;
}
#parkMe {
	position: fixed;
	top: 30px;
}
.signout a:link, a:visited, a:active{
	color: #cccccc;
}